In [1]:
import pandas as pd

In [4]:
pd.Series([1,2,3,4],index=["A","B","C","D"])

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
pd.Series([1,3],[1,2],name="data")

1    1
2    3
Name: data, dtype: int64

In [8]:
pd.Series({"a":1,"b":2,"c":43})

a     1
b     2
c    43
dtype: int64

In [10]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

### B. Upcasting
When we initialize a DataFrame of mixed types, upcasting occurs on a per-column basis. The dtypes property returns the types in each column as a Series of types.

In [11]:
upcast=pd.DataFrame([[5,6],[1.2,3]])

In [12]:
upcast

     0  1
0  5.0  6
1  1.2  3

In [13]:
print("{}\n".format(upcast))

     0  1
0  5.0  6
1  1.2  3

In [14]:
upcast.dtypes

0    float64
1      int64
dtype: object

### Appending rows

we can append additional rows to a given DataFrame through the append function. The required argument for the function is either a Series or DataFrame, representing the row(s) we append.

Note that the append function returns the modified DataFrame but doesn't actually change the original. Furthermore, when we append a Series to the DataFrame, we either need to specify the name for the series or use the **ignore_index** keyword argument. Setting **ignore_index=True** will change the row labels to integer indexes.

The code below shows example usages of the append function.

In [16]:
df=pd.DataFrame([[5,6],[1.2,4]])

In [18]:
ser=pd.Series([0,0],name="r3")

In [21]:
df_app=df.append(ser)

In [22]:
df_app

      0  1
0   5.0  6
1   1.2  4
r3  0.0  0

In [25]:
df_app=df.append(ser,ignore_index=True) #ignore index

In [26]:
df_app

     0  1
0  5.0  6
1  1.2  4
2  0.0  0

### D. Dropping data
We can drop rows or columns from a given DataFrame through the drop function. There is no required argument, but the keyword arguments of the function gives us ***two ways to drop rows/columns from a DataFrame.***

The first way is using the ***labels*** keyword argument to specify the labels of the rows/columns we want to drop. We use this alongside the axis keyword argument (which has default value of 0) to drop from the rows or columns axis.

The second method is to directly use the index or columns keyword arguments to specify the labels of the rows or columns directly, without needing to use axis.

The code below shows examples on how to use the drop function.

In [27]:
df=pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]},
                  index=['r1', 'r2'])

In [28]:
df

    c1  c2  c3
r1   1   3   5
r2   2   4   6

In [31]:
df.drop(labels="r1") #returns the new DataFrame

    c1  c2  c3
r2   2   4   6

In [32]:
df

    c1  c2  c3
r1   1   3   5
r2   2   4   6

In [40]:
df_drop=df.drop(labels=["c1","c3"],axis=1)

In [41]:
df_drop

    c2
r1   3
r2   4

In [44]:
df_drop=df.drop(index='r2')

In [45]:
df_drop

    c1  c2  c3
r1   1   3   5

In [46]:
df.drop(index="r2",columns='c2')

    c1  c3
r1   1   5